
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.ttf') format('truetype');
}


.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-shoucang:before { content: "\e63e"; }
.icon-dingdan:before { content: "\e6a5"; }
.icon-gouwuche:before { content: "\e654"; }
.icon-dizhi:before { content: "\e62a"; }
.icon-wodeyongjin:before { content: "\e6c4"; }